<?xml version="1.0" encoding="UTF-8"?>
<resproguard>
    <!--defaut property to set  -->
    <issue id="property">
        <!--whether use 7zip to repackage the signed apk, you must install the 7z command line version in window -->
        <!--sudo apt-get install p7zip-full in linux -->
        <!--and you must write the sign data fist, and i found that if we use linux, we can get a better result -->
        <seventzip value="true"/>
        <!--the sign data file name in your apk, default must be META-INF-->
        <!--generally, you do not need to change it if you dont change the meta file name in your apk-->
        <metaname value="META-INF"/>
        <!--if keep root, res/drawable will be kept, it won't be changed to such as r/s-->
        <keeproot value="false"/>
    </issue>

    <!--whitelist, some resource id you can not proguard, such as getIdentifier-->
    <!--isactive, whether to use whitelist, you can set false to close it simply-->
    <issue id="whitelist" isactive="true">
        <!--you must write the full package name, such as com.example.app.R -->
        <!--for some reason, we should keep our icon better-->
        <!--and it support *, ?, such as com.example.app.R.drawable.emoji_?-->

        <!--icon-->
        <path value="com.example.app.R.drawable.ic_*" />
        <path value="com.example.app.R.mipmap.ic_*" />

        <!--facemoji -->
        <path value="com.example.app.R.drawable.face0" />
        <path value="com.example.app.R.drawable.face0_choosen" />
        <path value="com.example.app.R.drawable.face1" />
        <path value="com.example.app.R.drawable.face1_choosen" />
        <path value="com.example.app.R.drawable.face2" />
        <path value="com.example.app.R.drawable.face2_choosen" />
        <path value="com.example.app.R.drawable.face3" />
        <path value="com.example.app.R.drawable.face3_choosen" />
        <path value="com.example.app.R.drawable.face4" />
        <path value="com.example.app.R.drawable.face4_choosen" />
        <path value="com.example.app.R.drawable.facemask*" />

        <!-- emotion action bar -->
        <path value="com.example.app.R.drawable.ic_*_panel_tab.xml" />

        <!--getidentifier-->
        <path value="com.example.app.R.array.emoji_*" />
        <path value="com.example.app.R.array.text_*" />
        <path value="com.example.app.R.drawable.settings_*" />
        <path value="com.example.app.R.drawable.emoji_*" />
        <path value="com.example.app.R.drawable.theme_*" />
        <path value="com.example.app.R.drawable.menu_function" />
        <path value="com.example.app.R.drawable.menu_back" />
        <path value="com.example.app.R.drawable.menu_setting" />
        <path value="com.example.app.R.drawable.nav_language_icon" />
        <path value="com.example.app.R.drawable.keyboard_font_selected_tick" />
        <!--getidentifier end-->

        <!--libkeyboard-->
        <!--getidentifier-->
        <path value="com.example.app.R.raw.main" />
        <path value="com.example.app.R.raw.main_*" />
        <path value="com.example.app.R.drawable.tabbar_*" />
        <path value="com.example.app.R.drawable.key_emoji_more" />
        <path value="com.example.app.R.style.KeyboardTheme.COMMON" />
        <path value="com.example.app.R.xml.keyboard_layout_set_*" />
        <path value="com.example.app.R.string.label_*" />
        <path value="com.example.app.R.string.subtype_generic_*" />
        <path value="com.example.app.R.string.subtype_no_language_*" />
        <path value="com.example.app.R.string.subtype_*" />
        <path value="com.example.app.R.string.subtype_with_layout_*" />
        <path value="com.example.app.R.anim.key_preview_*" />
        <!--getidentifier end-->
        <!--libkeyboard end-->

        <!--libkeyboardutils-->
        <!--getidentifier-->
        <path value="com.example.app.R.id.ad_*" />
        <!--getidentifier end-->
        <!--libkeyboardutils end-->

        <!--third party-->
        <path value="com.example.app.R.string.com.crashlytics.*" />
        <path value="com.example.app.R.string.com.facebook.*" />
        <path value="com.example.app.R.string.facebook_app_id" />
    </issue>

    <!--keepmapping, sometimes if we need to support incremental upgrade, we should keep the old mapping-->
    <!--isactive, whether to use keepmapping, you can set false to close it simply-->
    <!--if you use -mapping to set keepmapping property in cammand line, these setting will be overlayed-->
    <issue id="keepmapping" isactive="false">
        <!--the old mapping path, in window use \, in linux use /, and the default path is the running location-->
        <path value ="/Desktop/resource_mapping_weixin50android.txt" />
    </issue>

    <!--compress, if you want to compress the file, the name is relative path, such as resources.arsc, res/drawable-hdpi/welcome.png-->
    <!--what can you compress? generally, if your resources.arsc less than 1m, you can compress it. and i think compress .png, .jpg is ok-->
    <!--isactive, whether to use compress, you can set false to close it simply-->
    <issue id="compress" isactive="true">
        <!--you must use / separation, and it support *, ?, such as *.png, *.jpg, res/drawable-hdpi/welcome_?.png-->
        <path value="res/drawable-hdpi/*.png"/>
        <path value="res/drawable-hdpi/*.jpg"/>
        <path value="res/drawable-hdpi/*.gif"/>
        <path value="res/drawable-xhdpi/*.png"/>
        <path value="res/drawable-xhdpi/*.jpg"/>
        <path value="res/drawable-xhdpi/*.gif"/>
        <path value="res/drawable-xxhdpi/*.png"/>
        <path value="res/drawable-xxhdpi/*.jpg"/>
        <path value="res/drawable-xxhdpi/*.gif"/>
        <path value="res/drawable-xxxhdpi/*.png"/>
        <path value="res/drawable-xxxhdpi/*.jpg"/>
        <path value="res/drawable-xxxhdpi/*.gif"/>
        <path value="resources.arsc"/>
    </issue>

</resproguard>
