<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Data</key>
	<dict>
		<key>Application</key>
		<dict>
			<key>TextArt</key>
			<array>
				<dict>
					<key>Content</key>
					<array>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^.^)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^_^)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^&apos;^)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(*^.^*)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(&apos;_&apos;)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>!(^^)!</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^。^)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^_^)v</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^&apos;^)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^^)/</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^^ゞ</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^_-)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^_^.)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^_^;)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^&lt;^)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(#^.^#)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^^)v</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(&gt;_&lt;)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^_^メ)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^_-)-☆</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^_^)/~</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(=_=)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(T_T)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(T_T)/~~</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^○^)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>( ′θ`)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(′○` )</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^0_0^)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>( ^)o(^ ) </string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^J^)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^O^)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^o^)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^O^)／</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^o^)／</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^o^)丿</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(′ｏ`) </string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>)^o^(</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>＼(-o-)／</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>＼(^o^)／</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>＼(~o~)／</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>＼(-o-)／</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>ヽ(^.^)ノ</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>＼(◎o◎)／！</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>（●＾o＾●）</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(V)o￥o(V)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(~o~)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(+_+)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(+o+) </string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(゜o゜)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(o|o)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(p_-)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(Q ))</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(〃′o`)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(*′ノ0`)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(′0ノ`*)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(＠。ε。＠)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>^/^</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>^^;</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>^_^;</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>^m^</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>&lt;^!^&gt;</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>&gt;^_^&lt;</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(*^^)v</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>§^。^§</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(-_-)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(-_-;)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(゜_゜)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(゜_゜&gt;)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(~_~)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(~_~;)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(-_-メ)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(~_~メ)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^ム^)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(-_-)zzz</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(^_-)-☆</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(′～`●)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(ToT)/~~~ </string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string> (-。-)y-゜゜゜</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(*_*)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(*_*;</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(*^^)v</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(゜))&lt;&lt;</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(′▽`〃)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(′∀`=)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(*′▽`)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(=′∇`=)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(＾ｕ＾)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(＾ｖ＾)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(゜レ゜)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(＾◇＾)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(′へ`、 )</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(－－〆)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(′︿`)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(′～`；)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>( ′ロ` )</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(  ;′⌒`)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(゜ロ＼) (／ロ゜)</string>
						</dict>
					</array>
					<key>TabImage</key>
					<string>(^.^)</string>
				</dict>
				<dict>
					<key>Content</key>
					<array>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>●ω●</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(-ω- )</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(+ω+)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(*ω* )</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>( ^ω^)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(。ω。)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(『ω′』)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(・ω・=)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(￣ω￣)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(〃ω〃)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(≧ω≦)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(・ω・)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(′・ω・`)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(/ω・\)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(●′ω`●)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(/・ω・\)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(ΘωΘ)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(ΦωΦ)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(・(ｪ)・)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(・`ω´･)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(=・ω・=)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>( ＞ω＜＝)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(ΘΘ)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(Θ～Θ〃)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(ΘｏΘ)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(ΘェΘ)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(ΘーΘ*)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(Θ∀Θ＃)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(ΘдΘ；)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(Θ皿Θメ)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(Θ▽Θ)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(Θ０Θ●)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(Θ◇Θ。)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(ΘεΘ◎)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(ΘˍΘ=)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(ΘへΘ)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(Θ、Θ)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(Θ３Θ)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(@_@)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(@_@。</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(＠_＠;)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(Θ△Θ＠)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(oﾟωﾟo)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(σ｀・д･)σ</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>⊙▂⊙</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>⊙０⊙</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>⊙︿⊙</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>⊙ω⊙</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>⊙﹏⊙</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>⊙△⊙</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>⊙▽⊙</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>\(◎o◎)/</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>∩▂∩</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>∩０∩</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>∩︿∩</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>∩ω∩</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>∩﹏∩</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>∩△∩</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>∩▽∩</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>∪▂∪</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>∪０∪</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>∪︿∪</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>∪ω∪</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>∪﹏∪</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>∪△∪</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>∪▽∪</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>●▽●</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>●△●</string>
						</dict>
					</array>
					<key>TabImage</key>
					<string>●ω●</string>
				</dict>
				<dict>
					<key>Content</key>
					<array>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>: -)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>:-(</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>:)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>:(</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>&gt;:(</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>&gt;:-(</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>:-|</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>:-&lt;</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>:-&gt;</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>:-O</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>:-P</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(~o~)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>≧ω≦</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>≧０≦</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>≧△≦</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>≧▂≦</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>≧▽≦</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>≧o≦</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>≧︿≦</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>≧﹏≦</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>≧▽≦y</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(/≧▽≦/)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(≧▽≦)y</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(/≧▽≦)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(≧3≦)/</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(≧ω≦)/</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>o(≧v≦) </string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>≧□≦○</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>＞ω＜</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>＞▽＜</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>＞０＜</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>＞︿＜</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>＞▂＜</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>＞﹏＜</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>＞△＜</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>&gt;_&lt;</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>＋▽＋</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>＋０＋</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>＋︿＋</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>＋▂＋</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>＋ω＋</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>＋△＋</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>＋﹏＋</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>＋∀＋</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(・ˍ・)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(・ˍ・*)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>（p・_q）</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(*^・_・)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(*・０・)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(・ε・●)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(｡･ω･)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(・∀・)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>（/ˍ・、）</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(・-・。)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(・▽・.)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(・_・。)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(* ￣ー￣)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(￣ー￣&quot;)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(＠￣ー￣＠)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(＠・ˍ・)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(*・・*)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(・ε・；)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(・ェ・o)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(ー∀ー)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(￣ｏ￣)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(*￣△￣*)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(*￣ro￣)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(￣(●●)￣)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>/~┴┴ (≧ｏ≦)(@)</string>
						</dict>
					</array>
					<key>TabImage</key>
					<string>: -)</string>
				</dict>
				<dict>
					<key>Content</key>
					<array>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>☜(⌒▽⌒)☞</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>☜(*＾-＾*)☞</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>~~~(;⌒-⌒;)~~~</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>～～(˙❀‿❀˙)～～</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>ღ✿ﾐ(  o⌒．⌒o)彡</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>ヾ(✿⌒ ‿ ⌒✿)彡</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>☜☾◉‿◉☽☞</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>☜(★‿★)☞</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>ヾ(ﾟｰﾟ  *  )彡</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(•⌒・⌒•)ゞ</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>彡(   ❀ ;)‿);)ﾐ</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>ヾ(❀◦◡◦)彡</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>☜(⌒▽⌒)☞</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>☜[▪‿▪]☞</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>ﾐ(*◕‿◕*)彡</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>ﾐ(● ‿ ●)ノ★・…</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>ﾐ(  。  ⋆  ‿  ⋆)彡</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>ヾ(⌒▽⌒   ♡   )彡</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>ﾐ ʃ˘ﻬ˘ƪ彡★</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>★\ (。◕‿◕｡   )彡</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string> (﹡&gt;ω&lt;  ﹡)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>～～(⋆ˆ⌣ˆ⋆)～～</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>ﾐヽ◪ ‿ ◪ﾉ彡˚°◦★</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>ﾐ ヽ◕‿◕ﾉ彡`˙·…★</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>~~~(⌒ｏ⌒)~~~</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>（＃￣▽￣＃）</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>☆ヽﾐ§*.*ß彡</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>☆ヾ(⌒ ‿ ⌒)彡ღ</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>♀（￣▽￣）／</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>♂（￣▽￣）／</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>（～￣▽￣～） </string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>╭(′▽‵)╭(′▽‵)╯</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(～o￣▽￣)～o ~</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>╭ (= 0 =)y o()﹀﹀o</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>4</integer>
							<key>Image</key>
							<string>\(&quot;▔□▔)/\(&quot;▔□▔)/\(&quot;▔□▔)/</string>
						</dict>
					</array>
					<key>TabImage</key>
					<string>◕.◕</string>
				</dict>
				<dict>
					<key>Content</key>
					<array>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(¬_¬)ﾉ</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(¬_¬)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(¬▂¬)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>( ಠ益ಠ)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(◣_◢)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(⋋▂⋌)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(*´∀｀*)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>٩(๏̯͡๏)ゞ</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>ಠ_ಠ</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>&quot;(yಠ,ಠ)y&quot;</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>＼(&apos;0&apos;)／</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>ｏ( &gt;&lt;)o</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(┳◇┳)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(*≧m≦*)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>∑(´□｀；</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>（;皿≦）</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string> (/ﾟДﾟ)/</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(*´_｀)ゝ</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(#ﾟДﾟ#)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string> (^.^* )ゞ</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>ヽ(｀⌒´メ)ノ</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>╰（‵□′）╯</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>凸(｀⌒´メ)凸</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>╭∩╮(-_-)╭∩╮</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(◣ _ ◢)┌∩┐</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>凸 (｀0´)凸</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>ᕦ(ò_óˇ)ᕤ </string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>ᕙ(⇀‸↼‶)ᕗ</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>凸(`д´)凸</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>凸(｀⌒´メ)凸</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>Σ(-`Д´-ﾉ；)ﾉ</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string> [○･｀Д´･○]</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>{{|└(&gt;o&lt; )┘|}}</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>{{|└(&gt;o&lt; )┘|}} </string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>凸§(⇀‸↼‶)§凸</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>（）︿））=凸</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>ლ(ಠ益ಠლ)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(屮ಠ益ಠ)屮</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>＜彡(;≧皿≦)彡ゞ </string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>щ(ಥДಥщ)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>╭∩╮（▽）╭∩╮</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>╭∩╮_︿﹀_╭∩╮</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(╬ﾟ◥益◤ﾟ)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(ノಠ益ಠ)ノ</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>ヽ(ｏ`皿′ｏ)ﾉ</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>щ(ಠ益ಠщ)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>（*/∇＼*; ）</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string> (*≧∀≦)ゞ</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string> (＊╯_╰)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(#／。＼#)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>ヽ(≧Д≦)ノ</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(*^▽^*)ゞ</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>＼(&gt;o&lt;)ノ</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(ﾉﾟ0ﾟ)ﾉ~</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>w(°ｏ°)w</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>L(・o・)」</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>4</integer>
							<key>Image</key>
							<string>{{|└(&gt;o&lt; )┘|}}＼(`O´)／θ</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>ノ( º _ ºノ)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(ー_ー﹡;  )</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>&quot;6(“ー&quot;&quot; )&quot; </string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(  ; •ー_一 •)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(◎_◎;)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>【・_・?】</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(•ิ_•ิ)?</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>?:-|</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string> (ಠ_ರ) ?</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string> (´.｀;) ？</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(ﾟ･ﾟ)??</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(´ﾟoﾟ`)??</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(´ﾟ‿ﾟ`)??</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>1</integer>
							<key>Image</key>
							<string>(ﾟωﾟ;)?</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>Σ(ﾟДﾟ? )ﾉ</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>٩(๏̯͡๏)ゞ?</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(◔_◔)???</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>∑(´□｀；) ???</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>???...(‘＇ェ＇｀；)</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(‘･c_･｀ ；)???</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>Σ(`Д´；)ﾉ????</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(´ε｀；) ??</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(￣Д￣；)????</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string> ()ﾟヘﾟ)」???</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>/(;ﾟДﾟ;)\??</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(・o・；)????</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>(((((°-°;)???</string>
						</dict>
						<dict>
							<key>Columns</key>
							<integer>2</integer>
							<key>Image</key>
							<string>【• ▂ •】What? </string>
						</dict>
					</array>
					<key>TabImage</key>
					<string>ಠ_ಠ</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
