[submodule "lib_keyboarduimodules_android"]
	path = lib_keyboarduimodules_android
	url = http://git.ihandysoft.com/nogroup/lib_keyboarduimodules_android.git
[submodule "app/src/main/assets/themes"]
	path = app/src/main/assets/themes
	url = http://git.ihandysoft.com/bingroup/bin_keyboardresources_android.git
[submodule "libs/ihs/libKeyboardUtils"]
	path = libs/ihs/libKeyboardUtils
	url = http://git.ihandysoft.com/bingroup/bin_keyboardutils_android.git
[submodule "libs/ihs/libKeyboard"]
	path = libs/ihs/libKeyboard
	url = http://git.ihandysoft.com/bingroup/bin_keyboard_android.git
[submodule "libs/libKeyboardCommons"]
	path = libs/libKeyboardCommons
	url = http://git.ihandysoft.com/bingroup/Bin_KeyboardCommons_Android.git
