<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Data</key>
	<dict>
		<key>CustomUISupportedMaxVersion</key>
		<integer>0</integer>
		<key>CustomUISupportedMinVersion</key>
		<integer>0</integer>
		<key>NeverShowWhenClickBackButton</key>
		<false/>
		<key>RateAlert</key>
		<dict>
			<key>Alert</key>
			<dict>
				<key>Actions</key>
				<array>
					<dict>
						<key>Text</key>
						<dict>
							<key>de</key>
							<string>5-Sterne</string>
							<key>en</key>
							<string>Give 5-Star</string>
							<key>es</key>
							<string>5-Estrellas</string>
							<key>fr</key>
							<string>5-Etoiles</string>
							<key>it</key>
							<string>5-Stelle</string>
							<key>ja</key>
							<string>5星</string>
							<key>ko</key>
							<string>별점 5개</string>
							<key>nl</key>
							<string>5-Sterren</string>
							<key>pt</key>
							<string>5-Estrelas</string>
							<key>zh</key>
							<string>5星</string>
						</dict>
						<key>Type</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>Text</key>
						<dict>
							<key>de</key>
							<string>Nein, Danke</string>
							<key>en</key>
							<string>No, thanks</string>
							<key>es</key>
							<string>No, Gracias</string>
							<key>fr</key>
							<string>Non merci</string>
							<key>it</key>
							<string>No, grazie</string>
							<key>ja</key>
							<string>必要ありません</string>
							<key>ko</key>
							<string>괜찮습니다</string>
							<key>nl</key>
							<string>Nee, bedankt</string>
							<key>pt</key>
							<string>Não, Obrigado</string>
							<key>zh</key>
							<string>不，谢谢</string>
						</dict>
						<key>Type</key>
						<integer>4</integer>
					</dict>
					<dict>
						<key>Text</key>
						<dict>
							<key>de</key>
							<string>Ich hasse</string>
							<key>en</key>
							<string>Dislike it</string>
							<key>es</key>
							<string>La odio</string>
							<key>fr</key>
							<string>Je déteste</string>
							<key>it</key>
							<string>Io odio</string>
							<key>ja</key>
							<string>嫌い</string>
							<key>ko</key>
							<string>싫어요</string>
							<key>nl</key>
							<string>Ik haat</string>
							<key>pt</key>
							<string>Eu detesto</string>
							<key>zh</key>
							<string>不喜欢</string>
						</dict>
						<key>Type</key>
						<integer>6</integer>
					</dict>
				</array>
				<key>Body</key>
				<dict>
					<key>de</key>
					<string>Hast du einen Moment Zeit uns zu bewerten?</string>
					<key>en</key>
					<string>If you like RainbowKey, would you mind taking a moment to rate us?</string>
					<key>es</key>
					<string>¿Podrías dedicar unos momentos a valorarnos?</string>
					<key>fr</key>
					<string>Pourriez-vous prendre un instant pour nous évaluer ?</string>
					<key>it</key>
					<string>Perché non ci dedichi un minuto e lasci una valutazione sull’app?</string>
					<key>ja</key>
					<string>アプリを評価するお時間を頂けませんか？</string>
					<key>ko</key>
					<string>잠시 시간을 내어 리뷰를 남겨주시겠어요?</string>
					<key>nl</key>
					<string>Zou je eventjes de tijd willen nemen om ons te beoordelen?</string>
					<key>pt</key>
					<string>Importa-se de perder um instante para nos classificar?</string>
					<key>zh</key>
					<string>你介意花一点时间来评价我们吗?</string>
				</dict>
				<key>Title</key>
				<dict>
					<key>de</key>
					<string>Du hast gerade eine tolle Tastatur erstellt!</string>
					<key>en</key>
					<string>You just made an amazing keyboard!</string>
					<key>es</key>
					<string>¡Acabas de crear un teclado alucinante!
¡Acabas de crear un teclado alucinante!</string>
					<key>fr</key>
					<string>Vous venez de créer un clavier splendide !</string>
					<key>it</key>
					<string>Hai realizzato una tastiera fantastica!</string>
					<key>ja</key>
					<string>素晴らしいキーボードを作成しました！</string>
					<key>ko</key>
					<string>방금 멋진 키보드를 만들었어요!</string>
					<key>nl</key>
					<string>Je hebt zojuist een geweldig toetsenbord gemaakt!</string>
					<key>pt</key>
					<string>Acabaste de fazer um teclado incrível!</string>
					<key>zh</key>
					<string>你刚刚制作了一个超棒的键盘！</string>
				</dict>
			</dict>
			<key>Conditions</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>MinAccumulatedUseTime</key>
					<integer>0</integer>
					<key>MinDaysFromFirstUse</key>
					<integer>0</integer>
					<key>MinUseCount</key>
					<integer>0</integer>
					<key>Probability</key>
					<integer>0</integer>
				</dict>
				<key>Regional</key>
				<array/>
			</dict>
		</dict>
		<key>Version</key>
		<string>r1.0.11.GM</string>
	</dict>
	<key>MinimumUpdateInterval</key>
	<integer>0</integer>
</dict>
</plist>
