<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <uses-permission
        android:name="android.permission.READ_NETWORK_USAGE_HISTORY"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.DISABLE_KEYGUARD"
        tools:node="remove" />


    <application
        android:name="com.keyboard.colorkeyboard.app.MyInputMethodApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/english_ime_name"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/AppBaseTheme"
        tools:replace="android:label, android:supportsRtl">


        <service
            android:name="com.ihs.inputmethod.latin.LatinIME"
            android:label="@string/english_ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <activity
            android:name="com.keyboard.colorkeyboard.app.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="theme"
                    android:scheme="${APPLY_SCHEME}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/deeplink_site"
                    android:pathPrefix="/"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/deeplink_site"
                    android:scheme="http" />
            </intent-filter>
        </activity>

    </application>

</manifest>