<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application</key>
	<dict>
		<key>Fonts</key>
		<array>
			<dict>
				<key>Content</key>
				<dict>
					<key>A</key>
					<string>ɑ</string>
					<key>B</key>
					<string>ҍ</string>
					<key>C</key>
					<string>c</string>
					<key>D</key>
					<string>ժ</string>
					<key>E</key>
					<string>ҽ</string>
					<key>F</key>
					<string>ƒ</string>
					<key>G</key>
					<string>ց</string>
					<key>H</key>
					<string>հ</string>
					<key>I</key>
					<string>í</string>
					<key>J</key>
					<string>յ</string>
					<key>K</key>
					<string>k</string>
					<key>L</key>
					<string>Ӏ</string>
					<key>M</key>
					<string>m</string>
					<key>N</key>
					<string>ղ</string>
					<key>O</key>
					<string>օ</string>
					<key>P</key>
					<string>Թ</string>
					<key>Q</key>
					<string>զ</string>
					<key>R</key>
					<string>r</string>
					<key>S</key>
					<string>Տ</string>
					<key>T</key>
					<string>Ե</string>
					<key>U</key>
					<string>մ</string>
					<key>V</key>
					<string>ѵ</string>
					<key>W</key>
					<string>ա</string>
					<key>X</key>
					<string>×</string>
					<key>Y</key>
					<string>վ</string>
					<key>Z</key>
					<string>Հ</string>
					<key>a</key>
					<string>ɑ</string>
					<key>b</key>
					<string>ҍ</string>
					<key>c</key>
					<string>c</string>
					<key>d</key>
					<string>ժ</string>
					<key>e</key>
					<string>ҽ</string>
					<key>f</key>
					<string>ƒ</string>
					<key>g</key>
					<string>ց</string>
					<key>h</key>
					<string>հ</string>
					<key>i</key>
					<string>í</string>
					<key>j</key>
					<string>յ</string>
					<key>k</key>
					<string>k</string>
					<key>l</key>
					<string>Ӏ</string>
					<key>m</key>
					<string>m</string>
					<key>n</key>
					<string>ղ</string>
					<key>o</key>
					<string>օ</string>
					<key>p</key>
					<string>Թ</string>
					<key>q</key>
					<string>զ</string>
					<key>r</key>
					<string>r</string>
					<key>s</key>
					<string>Տ</string>
					<key>t</key>
					<string>Ե</string>
					<key>u</key>
					<string>մ</string>
					<key>v</key>
					<string>ѵ</string>
					<key>w</key>
					<string>ա</string>
					<key>x</key>
					<string>×</string>
					<key>y</key>
					<string>վ</string>
					<key>z</key>
					<string>Հ</string>
				</dict>
				<key>FontExample</key>
				<string>ԵաíՏԵҽժ</string>
				<key>FontName</key>
				<string>Twisted</string>
				<key>FontSentence</key>
				<string>ժҽϲօɾɑԵҽ վօմɾ աօɾժՏ աíԵհ ՏԵվӀíՏհ ƒօղԵ!</string>
			</dict>
			<dict>
				<key>Content</key>
				<dict>
					<key>A</key>
					<string>ａ</string>
					<key>B</key>
					<string>ｂ</string>
					<key>C</key>
					<string>ｃ</string>
					<key>D</key>
					<string>ｄ</string>
					<key>E</key>
					<string>ｅ</string>
					<key>F</key>
					<string>ｆ</string>
					<key>G</key>
					<string>ｇ</string>
					<key>H</key>
					<string>ｈ</string>
					<key>I</key>
					<string>ｉ</string>
					<key>J</key>
					<string>ｊ</string>
					<key>K</key>
					<string>ｋ</string>
					<key>L</key>
					<string>ｌ</string>
					<key>M</key>
					<string>ｍ</string>
					<key>N</key>
					<string>ｎ</string>
					<key>O</key>
					<string>ｏ</string>
					<key>P</key>
					<string>ｐ</string>
					<key>Q</key>
					<string>ｑ</string>
					<key>R</key>
					<string>ｒ</string>
					<key>S</key>
					<string>ｓ</string>
					<key>T</key>
					<string>ｔ</string>
					<key>U</key>
					<string>ｕ</string>
					<key>V</key>
					<string>ｖ</string>
					<key>W</key>
					<string>ｗ</string>
					<key>X</key>
					<string>ｘ</string>
					<key>Y</key>
					<string>ｙ</string>
					<key>Z</key>
					<string>ｚ</string>
					<key>a</key>
					<string>ａ</string>
					<key>b</key>
					<string>ｂ</string>
					<key>c</key>
					<string>ｃ</string>
					<key>d</key>
					<string>ｄ</string>
					<key>e</key>
					<string>ｅ</string>
					<key>f</key>
					<string>ｆ</string>
					<key>g</key>
					<string>ｇ</string>
					<key>h</key>
					<string>ｈ</string>
					<key>i</key>
					<string>ｉ</string>
					<key>j</key>
					<string>ｊ</string>
					<key>k</key>
					<string>ｋ</string>
					<key>l</key>
					<string>ｌ</string>
					<key>m</key>
					<string>ｍ</string>
					<key>n</key>
					<string>ｎ</string>
					<key>o</key>
					<string>ｏ</string>
					<key>p</key>
					<string>ｐ</string>
					<key>q</key>
					<string>ｑ</string>
					<key>r</key>
					<string>ｒ</string>
					<key>s</key>
					<string>ｓ</string>
					<key>t</key>
					<string>ｔ</string>
					<key>u</key>
					<string>ｕ</string>
					<key>v</key>
					<string>ｖ</string>
					<key>w</key>
					<string>ｗ</string>
					<key>x</key>
					<string>ｘ</string>
					<key>y</key>
					<string>ｙ</string>
					<key>z</key>
					<string>ｚ</string>
				</dict>
				<key>FontExample</key>
				<string>ａｉｒ       </string>
				<key>FontName</key>
				<string>air</string>
				<key>FontSentence</key>
				<string>ｄｅｃｏｒａｔｅ ｙｏｕｒ ｗｏｒｄｓ ｗｉｔｈ ｓｔｙｌｉｓｈ ｆｏｎｔｓ！</string>
			</dict>
			<dict>
				<key>Content</key>
				<dict>
					<key>A</key>
					<string>α</string>
					<key>B</key>
					<string>в</string>
					<key>C</key>
					<string>¢</string>
					<key>D</key>
					<string>∂</string>
					<key>E</key>
					<string>є</string>
					<key>F</key>
					<string>f</string>
					<key>G</key>
					<string>g</string>
					<key>H</key>
					<string>н</string>
					<key>I</key>
					<string>ι</string>
					<key>J</key>
					<string>j</string>
					<key>K</key>
					<string>к</string>
					<key>L</key>
					<string>ℓ</string>
					<key>M</key>
					<string>м</string>
					<key>N</key>
					<string>и</string>
					<key>O</key>
					<string>σ</string>
					<key>P</key>
					<string>ρ</string>
					<key>Q</key>
					<string>q</string>
					<key>R</key>
					<string>я</string>
					<key>S</key>
					<string>ѕ</string>
					<key>T</key>
					<string>т</string>
					<key>U</key>
					<string>υ</string>
					<key>V</key>
					<string>ν</string>
					<key>W</key>
					<string>ω</string>
					<key>X</key>
					<string>χ</string>
					<key>Y</key>
					<string>у</string>
					<key>Z</key>
					<string>z</string>
					<key>a</key>
					<string>α</string>
					<key>b</key>
					<string>в</string>
					<key>c</key>
					<string>¢</string>
					<key>d</key>
					<string>∂</string>
					<key>e</key>
					<string>є</string>
					<key>f</key>
					<string>f</string>
					<key>g</key>
					<string>g</string>
					<key>h</key>
					<string>н</string>
					<key>i</key>
					<string>ι</string>
					<key>j</key>
					<string>j</string>
					<key>k</key>
					<string>к</string>
					<key>l</key>
					<string>ℓ</string>
					<key>m</key>
					<string>м</string>
					<key>n</key>
					<string>и</string>
					<key>o</key>
					<string>σ</string>
					<key>p</key>
					<string>ρ</string>
					<key>q</key>
					<string>q</string>
					<key>r</key>
					<string>я</string>
					<key>s</key>
					<string>ѕ</string>
					<key>t</key>
					<string>т</string>
					<key>u</key>
					<string>υ</string>
					<key>v</key>
					<string>ν</string>
					<key>w</key>
					<string>ω</string>
					<key>x</key>
					<string>χ</string>
					<key>y</key>
					<string>у</string>
					<key>z</key>
					<string>z</string>
				</dict>
				<key>FontExample</key>
				<string>ℓσνє ѕтσяιєѕ</string>
				<key>FontName</key>
				<string>Love stories</string>
				<key>FontSentence</key>
				<string>∂є¢σяαтє уσυя ωσя∂ѕ ωιтн ѕтуℓιѕн fσитѕ! вє ¢σσℓ ωιтн fяιєи∂ѕ!</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
