<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application</key>
	<dict>
		<key>Fonts</key>
		<array>
			<dict>
				<key>Content</key>
				<dict>
					<key>A</key>
					<string>α</string>
					<key>B</key>
					<string>в</string>
					<key>C</key>
					<string>¢</string>
					<key>D</key>
					<string>∂</string>
					<key>E</key>
					<string>є</string>
					<key>F</key>
					<string>f</string>
					<key>G</key>
					<string>g</string>
					<key>H</key>
					<string>н</string>
					<key>I</key>
					<string>ι</string>
					<key>J</key>
					<string>ʝ</string>
					<key>K</key>
					<string>к</string>
					<key>L</key>
					<string>ℓ</string>
					<key>M</key>
					<string>м</string>
					<key>N</key>
					<string>и</string>
					<key>O</key>
					<string>σ</string>
					<key>P</key>
					<string>ρ</string>
					<key>Q</key>
					<string>q</string>
					<key>R</key>
					<string>я</string>
					<key>S</key>
					<string>ѕ</string>
					<key>T</key>
					<string>т</string>
					<key>U</key>
					<string>υ</string>
					<key>V</key>
					<string>ν</string>
					<key>W</key>
					<string>ω</string>
					<key>X</key>
					<string>χ</string>
					<key>Y</key>
					<string>у</string>
					<key>Z</key>
					<string>z</string>
					<key>a</key>
					<string>α</string>
					<key>b</key>
					<string>в</string>
					<key>c</key>
					<string>¢</string>
					<key>d</key>
					<string>∂</string>
					<key>e</key>
					<string>є</string>
					<key>f</key>
					<string>f</string>
					<key>g</key>
					<string>g</string>
					<key>h</key>
					<string>н</string>
					<key>i</key>
					<string>ι</string>
					<key>j</key>
					<string>ʝ</string>
					<key>k</key>
					<string>к</string>
					<key>l</key>
					<string>ℓ</string>
					<key>m</key>
					<string>м</string>
					<key>n</key>
					<string>и</string>
					<key>o</key>
					<string>σ</string>
					<key>p</key>
					<string>ρ</string>
					<key>q</key>
					<string>q</string>
					<key>r</key>
					<string>я</string>
					<key>s</key>
					<string>ѕ</string>
					<key>t</key>
					<string>т</string>
					<key>u</key>
					<string>υ</string>
					<key>v</key>
					<string>ν</string>
					<key>w</key>
					<string>ω</string>
					<key>x</key>
					<string>χ</string>
					<key>y</key>
					<string>у</string>
					<key>z</key>
					<string>z</string>
				</dict>
				<key>FontExample</key>
				<string>ℓσνє ѕтσяιєѕ</string>
				<key>FontName</key>
				<string>Love stories</string>
				<key>FontSentence</key>
				<string>∂є¢σяαтє уσυя ωσя∂ѕ ωιтн ѕтуℓιѕн fσитѕ! вє ¢σσℓ ωιтн fяιєи∂ѕ!</string>
			</dict>
			<dict>
				<key>Content</key>
				<dict>
					<key>A</key>
					<string>ą</string>
					<key>B</key>
					<string>ც</string>
					<key>C</key>
					<string>c</string>
					<key>D</key>
					<string>ɖ</string>
					<key>E</key>
					<string>ɛ</string>
					<key>F</key>
					<string>ʄ</string>
					<key>G</key>
					<string>ɠ</string>
					<key>H</key>
					<string>ɧ</string>
					<key>I</key>
					<string>ı</string>
					<key>J</key>
					<string>ʝ</string>
					<key>K</key>
					<string>k</string>
					<key>L</key>
					<string>l</string>
					<key>M</key>
					<string>m</string>
					<key>N</key>
					<string>ŋ</string>
					<key>O</key>
					<string>ơ</string>
					<key>P</key>
					<string>℘</string>
					<key>Q</key>
					<string>զ</string>
					<key>R</key>
					<string>r</string>
					<key>S</key>
					<string>ʂ</string>
					<key>T</key>
					<string>ɬ</string>
					<key>U</key>
					<string>ų</string>
					<key>V</key>
					<string>۷</string>
					<key>W</key>
					<string>w</string>
					<key>X</key>
					<string>ҳ</string>
					<key>Y</key>
					<string>ყ</string>
					<key>Z</key>
					<string>ʑ</string>
					<key>a</key>
					<string>ą</string>
					<key>b</key>
					<string>ც</string>
					<key>c</key>
					<string>c</string>
					<key>d</key>
					<string>ɖ</string>
					<key>e</key>
					<string>ɛ</string>
					<key>f</key>
					<string>ʄ</string>
					<key>g</key>
					<string>ɠ</string>
					<key>h</key>
					<string>ɧ</string>
					<key>i</key>
					<string>ı</string>
					<key>j</key>
					<string>ʝ</string>
					<key>k</key>
					<string>k</string>
					<key>l</key>
					<string>l</string>
					<key>m</key>
					<string>m</string>
					<key>n</key>
					<string>ŋ</string>
					<key>o</key>
					<string>ơ</string>
					<key>p</key>
					<string>℘</string>
					<key>q</key>
					<string>զ</string>
					<key>r</key>
					<string>r</string>
					<key>s</key>
					<string>ʂ</string>
					<key>t</key>
					<string>ɬ</string>
					<key>u</key>
					<string>ų</string>
					<key>v</key>
					<string>۷</string>
					<key>w</key>
					<string>w</string>
					<key>x</key>
					<string>ҳ</string>
					<key>y</key>
					<string>ყ</string>
					<key>z</key>
					<string>ʑ</string>
				</dict>
				<key>FontExample</key>
				<string>lơơrყ</string>
				<key>FontName</key>
				<string>loory</string>
				<key>FontSentence</key>
				<string>ɖɛcơrąɬɛ ყơųr ῳơrɖʂ ῳıɬɧ ʂɬყƖıʂɧ ʄơŋɬʂ!</string>
			</dict>
			<dict>
				<key>Content</key>
				<dict>
					<key>A</key>
					<string>ⓐ</string>
					<key>B</key>
					<string>ⓑ</string>
					<key>C</key>
					<string>ⓒ</string>
					<key>D</key>
					<string>ⓓ</string>
					<key>E</key>
					<string>ⓔ</string>
					<key>F</key>
					<string>ⓕ</string>
					<key>G</key>
					<string>ⓖ</string>
					<key>H</key>
					<string>ⓗ</string>
					<key>I</key>
					<string>ⓘ</string>
					<key>J</key>
					<string>ⓙ</string>
					<key>K</key>
					<string>ⓚ</string>
					<key>L</key>
					<string>ⓛ</string>
					<key>M</key>
					<string>ⓜ</string>
					<key>N</key>
					<string>ⓝ</string>
					<key>O</key>
					<string>ⓞ</string>
					<key>P</key>
					<string>ⓟ</string>
					<key>Q</key>
					<string>ⓠ</string>
					<key>R</key>
					<string>ⓡ</string>
					<key>S</key>
					<string>ⓢ</string>
					<key>T</key>
					<string>ⓣ</string>
					<key>U</key>
					<string>ⓤ</string>
					<key>V</key>
					<string>ⓥ</string>
					<key>W</key>
					<string>ⓦ</string>
					<key>X</key>
					<string>ⓧ</string>
					<key>Y</key>
					<string>ⓨ</string>
					<key>Z</key>
					<string>ⓩ</string>
					<key>a</key>
					<string>ⓐ</string>
					<key>b</key>
					<string>ⓑ</string>
					<key>c</key>
					<string>ⓒ</string>
					<key>d</key>
					<string>ⓓ</string>
					<key>e</key>
					<string>ⓔ</string>
					<key>f</key>
					<string>ⓕ</string>
					<key>g</key>
					<string>ⓖ</string>
					<key>h</key>
					<string>ⓗ</string>
					<key>i</key>
					<string>ⓘ</string>
					<key>j</key>
					<string>ⓙ</string>
					<key>k</key>
					<string>ⓚ</string>
					<key>l</key>
					<string>ⓛ</string>
					<key>m</key>
					<string>ⓜ</string>
					<key>n</key>
					<string>ⓝ</string>
					<key>o</key>
					<string>ⓞ</string>
					<key>p</key>
					<string>ⓟ</string>
					<key>q</key>
					<string>ⓠ</string>
					<key>r</key>
					<string>ⓡ</string>
					<key>s</key>
					<string>ⓢ</string>
					<key>t</key>
					<string>ⓣ</string>
					<key>u</key>
					<string>ⓤ</string>
					<key>v</key>
					<string>ⓥ</string>
					<key>w</key>
					<string>ⓦ</string>
					<key>x</key>
					<string>ⓧ</string>
					<key>y</key>
					<string>ⓨ</string>
					<key>z</key>
					<string>ⓩ</string>
				</dict>
				<key>FontExample</key>
				<string>ⓒⓘⓡⓒⓛⓔⓓ</string>
				<key>FontName</key>
				<string>CIRCLED</string>
				<key>FontSentence</key>
				<string>ⓓⓔⓒⓞⓡⓐⓣⓔ ⓨⓞⓤⓡ ⓦⓞⓡⓓⓢ ⓦⓘⓣⓗ ⓢⓣⓨⓛⓘⓢⓗ ⓕⓞⓝⓣⓢ!</string>
			</dict>
			<dict>
				<key>Content</key>
				<dict>
					<key>A</key>
					<string>ɐ</string>
					<key>B</key>
					<string>q</string>
					<key>C</key>
					<string>ɔ</string>
					<key>D</key>
					<string>p</string>
					<key>E</key>
					<string>e</string>
					<key>F</key>
					<string>ɟ</string>
					<key>G</key>
					<string>g</string>
					<key>H</key>
					<string>ɥ</string>
					<key>I</key>
					<string>ı</string>
					<key>J</key>
					<string>ɾ</string>
					<key>K</key>
					<string>ʞ</string>
					<key>L</key>
					<string>l</string>
					<key>M</key>
					<string>ɯ</string>
					<key>N</key>
					<string>u</string>
					<key>O</key>
					<string>o</string>
					<key>P</key>
					<string>d</string>
					<key>Q</key>
					<string>b</string>
					<key>R</key>
					<string>ɹ</string>
					<key>S</key>
					<string>s</string>
					<key>T</key>
					<string>ʇ</string>
					<key>U</key>
					<string>n</string>
					<key>V</key>
					<string>ʌ</string>
					<key>W</key>
					<string>ʍ</string>
					<key>X</key>
					<string>x</string>
					<key>Y</key>
					<string>ʎ</string>
					<key>Z</key>
					<string>z</string>
					<key>a</key>
					<string>ɐ</string>
					<key>b</key>
					<string>q</string>
					<key>c</key>
					<string>ɔ</string>
					<key>d</key>
					<string>p</string>
					<key>e</key>
					<string>e</string>
					<key>f</key>
					<string>ɟ</string>
					<key>g</key>
					<string>g</string>
					<key>h</key>
					<string>ɥ</string>
					<key>i</key>
					<string>ı</string>
					<key>j</key>
					<string>ɾ</string>
					<key>k</key>
					<string>ʞ</string>
					<key>l</key>
					<string>l</string>
					<key>m</key>
					<string>ɯ</string>
					<key>n</key>
					<string>u</string>
					<key>o</key>
					<string>o</string>
					<key>p</key>
					<string>d</string>
					<key>q</key>
					<string>b</string>
					<key>r</key>
					<string>ɹ</string>
					<key>s</key>
					<string>s</string>
					<key>t</key>
					<string>ʇ</string>
					<key>u</key>
					<string>n</string>
					<key>v</key>
					<string>ʌ</string>
					<key>w</key>
					<string>ʍ</string>
					<key>x</key>
					<string>x</string>
					<key>y</key>
					<string>ʎ</string>
					<key>z</key>
					<string>z</string>
				</dict>
				<key>FontExample</key>
				<string>ndsıpepoʍu</string>
				<key>FontName</key>
				<string>upsidedown</string>
				<key>FontSentence</key>
				<string>peɔoɹɐʇe ʎonɹ ʍoɹps ʍıʇɥ sʇʎlısɥ ɟouʇs! qe ɔool ʍıʇɥ ɟɹıǝups!</string>
			</dict>
			<dict>
				<key>Content</key>
				<dict>
					<key>A</key>
					<string>ɑ</string>
					<key>B</key>
					<string>ҍ</string>
					<key>C</key>
					<string>c</string>
					<key>D</key>
					<string>ժ</string>
					<key>E</key>
					<string>ҽ</string>
					<key>F</key>
					<string>ƒ</string>
					<key>G</key>
					<string>ց</string>
					<key>H</key>
					<string>հ</string>
					<key>I</key>
					<string>í</string>
					<key>J</key>
					<string>յ</string>
					<key>K</key>
					<string>ҡ</string>
					<key>L</key>
					<string>Ӏ</string>
					<key>M</key>
					<string>ʍ</string>
					<key>N</key>
					<string>ղ</string>
					<key>O</key>
					<string>օ</string>
					<key>P</key>
					<string>Թ</string>
					<key>Q</key>
					<string>զ</string>
					<key>R</key>
					<string>ɾ</string>
					<key>S</key>
					<string>Տ</string>
					<key>T</key>
					<string>Ե</string>
					<key>U</key>
					<string>մ</string>
					<key>V</key>
					<string>ѵ</string>
					<key>W</key>
					<string>ա</string>
					<key>X</key>
					<string>×</string>
					<key>Y</key>
					<string>վ</string>
					<key>Z</key>
					<string>Հ</string>
					<key>a</key>
					<string>ɑ</string>
					<key>b</key>
					<string>ҍ</string>
					<key>c</key>
					<string>c</string>
					<key>d</key>
					<string>ժ</string>
					<key>e</key>
					<string>ҽ</string>
					<key>f</key>
					<string>ƒ</string>
					<key>g</key>
					<string>ց</string>
					<key>h</key>
					<string>հ</string>
					<key>i</key>
					<string>í</string>
					<key>j</key>
					<string>յ</string>
					<key>k</key>
					<string>ҡ</string>
					<key>l</key>
					<string>Ӏ</string>
					<key>m</key>
					<string>ʍ</string>
					<key>n</key>
					<string>ղ</string>
					<key>o</key>
					<string>օ</string>
					<key>p</key>
					<string>Թ</string>
					<key>q</key>
					<string>զ</string>
					<key>r</key>
					<string>ɾ</string>
					<key>s</key>
					<string>Տ</string>
					<key>t</key>
					<string>Ե</string>
					<key>u</key>
					<string>մ</string>
					<key>v</key>
					<string>ѵ</string>
					<key>w</key>
					<string>ա</string>
					<key>x</key>
					<string>×</string>
					<key>y</key>
					<string>վ</string>
					<key>z</key>
					<string>Հ</string>
				</dict>
				<key>FontExample</key>
				<string>ԵաíՏԵҽժ</string>
				<key>FontName</key>
				<string>Twisted</string>
				<key>FontSentence</key>
				<string>ժҽϲօɾɑԵҽ վօմɾ աօɾժՏ աíԵհ ՏԵվӀíՏհ ƒօղԵ!</string>
			</dict>
			<dict>
				<key>Content</key>
				<dict>
					<key>A</key>
					<string>ѧ</string>
					<key>B</key>
					<string>ɞ</string>
					<key>C</key>
					<string>ċ</string>
					<key>D</key>
					<string>Ԁ</string>
					<key>E</key>
					<string>є</string>
					<key>F</key>
					<string>ғ</string>
					<key>G</key>
					<string>ɢ</string>
					<key>H</key>
					<string>һ</string>
					<key>I</key>
					<string>ı</string>
					<key>J</key>
					<string>j</string>
					<key>K</key>
					<string>ҡ</string>
					<key>L</key>
					<string>ʟ</string>
					<key>M</key>
					<string>м</string>
					<key>N</key>
					<string>ŋ</string>
					<key>O</key>
					<string>σ</string>
					<key>P</key>
					<string>p</string>
					<key>Q</key>
					<string>զ</string>
					<key>R</key>
					<string>я</string>
					<key>S</key>
					<string>s</string>
					<key>T</key>
					<string>т</string>
					<key>U</key>
					<string>υ</string>
					<key>V</key>
					<string>۷</string>
					<key>W</key>
					<string>w</string>
					<key>X</key>
					<string>×</string>
					<key>Y</key>
					<string>ʏ</string>
					<key>Z</key>
					<string>ʑ</string>
					<key>a</key>
					<string>ѧ</string>
					<key>b</key>
					<string>ɞ</string>
					<key>c</key>
					<string>ċ</string>
					<key>d</key>
					<string>Ԁ</string>
					<key>e</key>
					<string>є</string>
					<key>f</key>
					<string>ғ</string>
					<key>g</key>
					<string>ɢ</string>
					<key>h</key>
					<string>һ</string>
					<key>i</key>
					<string>ı</string>
					<key>j</key>
					<string>j</string>
					<key>k</key>
					<string>ҡ</string>
					<key>l</key>
					<string>ʟ</string>
					<key>m</key>
					<string>м</string>
					<key>n</key>
					<string>ŋ</string>
					<key>o</key>
					<string>σ</string>
					<key>p</key>
					<string>p</string>
					<key>q</key>
					<string>զ</string>
					<key>r</key>
					<string>я</string>
					<key>s</key>
					<string>s</string>
					<key>t</key>
					<string>т</string>
					<key>u</key>
					<string>υ</string>
					<key>v</key>
					<string>۷</string>
					<key>w</key>
					<string>w</string>
					<key>x</key>
					<string>×</string>
					<key>y</key>
					<string>ʏ</string>
					<key>z</key>
					<string>ʑ</string>
				</dict>
				<key>FontExample</key>
				<string>мʏsтıċ</string>
				<key>FontName</key>
				<string>mystic</string>
				<key>FontSentence</key>
				<string>Ԁєċȏяѧṭє ʏȏȗя wȏяԀs wıṭһ sṭʏʟıṡһ ғȏṅṭs! ɞє ċȏȏʟ wıṭһ ғяıєṅԀs!</string>
			</dict>
			<dict>
				<key>Content</key>
				<dict>
					<key>A</key>
					<string>Δ</string>
					<key>B</key>
					<string>β</string>
					<key>C</key>
					<string>C</string>
					<key>D</key>
					<string>D</string>
					<key>E</key>
					<string>Σ</string>
					<key>F</key>
					<string>Ғ</string>
					<key>G</key>
					<string>G</string>
					<key>H</key>
					<string>H</string>
					<key>I</key>
					<string>I</string>
					<key>J</key>
					<string>J</string>
					<key>K</key>
					<string>Ҝ</string>
					<key>L</key>
					<string>L</string>
					<key>M</key>
					<string>M</string>
					<key>N</key>
					<string>Π</string>
					<key>O</key>
					<string>Ω</string>
					<key>P</key>
					<string>P</string>
					<key>Q</key>
					<string>Q</string>
					<key>R</key>
					<string>R</string>
					<key>S</key>
					<string>S</string>
					<key>T</key>
					<string>T</string>
					<key>U</key>
					<string>U</string>
					<key>V</key>
					<string>∇</string>
					<key>W</key>
					<string>Ш</string>
					<key>X</key>
					<string>X</string>
					<key>Y</key>
					<string>Ψ</string>
					<key>Z</key>
					<string>Z</string>
					<key>a</key>
					<string>Δ</string>
					<key>b</key>
					<string>β</string>
					<key>c</key>
					<string>C</string>
					<key>d</key>
					<string>D</string>
					<key>e</key>
					<string>Σ</string>
					<key>f</key>
					<string>Ғ</string>
					<key>g</key>
					<string>G</string>
					<key>h</key>
					<string>H</string>
					<key>i</key>
					<string>I</string>
					<key>j</key>
					<string>J</string>
					<key>k</key>
					<string>Ҝ</string>
					<key>l</key>
					<string>L</string>
					<key>m</key>
					<string>M</string>
					<key>n</key>
					<string>Π</string>
					<key>o</key>
					<string>Ω</string>
					<key>p</key>
					<string>P</string>
					<key>q</key>
					<string>Q</string>
					<key>r</key>
					<string>R</string>
					<key>s</key>
					<string>S</string>
					<key>t</key>
					<string>T</string>
					<key>u</key>
					<string>U</string>
					<key>v</key>
					<string>∇</string>
					<key>w</key>
					<string>Ш</string>
					<key>x</key>
					<string>X</string>
					<key>y</key>
					<string>Ψ</string>
					<key>z</key>
					<string>Z</string>
				</dict>
				<key>FontExample</key>
				<string>STΣΣL ҒΩRҜ</string>
				<key>FontName</key>
				<string>Steel Fork</string>
				<key>FontSentence</key>
				<string>DΣCΩRΔTΣ ΨΩUR ШΩRDS ШITH STΨLISH ҒΩΠTS!</string>
			</dict>
			<dict>
				<key>Content</key>
				<dict>
					<key>A</key>
					<string>a</string>
					<key>B</key>
					<string>в</string>
					<key>C</key>
					<string>c</string>
					<key>D</key>
					<string>d</string>
					<key>E</key>
					<string>e</string>
					<key>F</key>
					<string>ғ</string>
					<key>G</key>
					<string>g</string>
					<key>H</key>
					<string>н</string>
					<key>I</key>
					<string>ι</string>
					<key>J</key>
					<string>j</string>
					<key>K</key>
					<string>ĸ</string>
					<key>L</key>
					<string>l</string>
					<key>M</key>
					<string>м</string>
					<key>N</key>
					<string>n</string>
					<key>O</key>
					<string>o</string>
					<key>P</key>
					<string>p</string>
					<key>Q</key>
					<string>q</string>
					<key>R</key>
					<string>r</string>
					<key>S</key>
					<string>ѕ</string>
					<key>T</key>
					<string>т</string>
					<key>U</key>
					<string>υ</string>
					<key>V</key>
					<string>v</string>
					<key>W</key>
					<string>w</string>
					<key>X</key>
					<string>х</string>
					<key>Y</key>
					<string>y</string>
					<key>Z</key>
					<string>z</string>
					<key>a</key>
					<string>a</string>
					<key>b</key>
					<string>в</string>
					<key>c</key>
					<string>c</string>
					<key>d</key>
					<string>d</string>
					<key>e</key>
					<string>e</string>
					<key>f</key>
					<string>ғ</string>
					<key>g</key>
					<string>g</string>
					<key>h</key>
					<string>н</string>
					<key>i</key>
					<string>ι</string>
					<key>j</key>
					<string>j</string>
					<key>k</key>
					<string>ĸ</string>
					<key>l</key>
					<string>l</string>
					<key>m</key>
					<string>м</string>
					<key>n</key>
					<string>n</string>
					<key>o</key>
					<string>o</string>
					<key>p</key>
					<string>p</string>
					<key>q</key>
					<string>q</string>
					<key>r</key>
					<string>r</string>
					<key>s</key>
					<string>ѕ</string>
					<key>t</key>
					<string>т</string>
					<key>u</key>
					<string>υ</string>
					<key>v</key>
					<string>v</string>
					<key>w</key>
					<string>w</string>
					<key>x</key>
					<string>х</string>
					<key>y</key>
					<string>y</string>
					<key>z</key>
					<string>z</string>
				</dict>
				<key>FontExample</key>
				<string>ѕolιd ѕтone</string>
				<key>FontName</key>
				<string>solid stone</string>
				<key>FontSentence</key>
				<string>decoraтe yoυr wordѕ wιтн ѕтylιѕн ғonтѕ!</string>
			</dict>
			<dict>
				<key>Content</key>
				<dict>
					<key>A</key>
					<string>⒜</string>
					<key>B</key>
					<string>⒝</string>
					<key>C</key>
					<string>⒞</string>
					<key>D</key>
					<string>⒟</string>
					<key>E</key>
					<string>⒠</string>
					<key>F</key>
					<string>⒡</string>
					<key>G</key>
					<string>⒢</string>
					<key>H</key>
					<string>⒣</string>
					<key>I</key>
					<string>⒤</string>
					<key>J</key>
					<string>⒥</string>
					<key>K</key>
					<string>⒦</string>
					<key>L</key>
					<string>⒧</string>
					<key>M</key>
					<string>⒨</string>
					<key>N</key>
					<string>⒩</string>
					<key>O</key>
					<string>⒪</string>
					<key>P</key>
					<string>⒫</string>
					<key>Q</key>
					<string>⒬</string>
					<key>R</key>
					<string>⒭</string>
					<key>S</key>
					<string>⒮</string>
					<key>T</key>
					<string>⒯</string>
					<key>U</key>
					<string>⒰</string>
					<key>V</key>
					<string>⒱</string>
					<key>W</key>
					<string>⒲</string>
					<key>X</key>
					<string>⒳</string>
					<key>Y</key>
					<string>⒴</string>
					<key>Z</key>
					<string>⒵</string>
					<key>a</key>
					<string>⒜</string>
					<key>b</key>
					<string>⒝</string>
					<key>c</key>
					<string>⒞</string>
					<key>d</key>
					<string>⒟</string>
					<key>e</key>
					<string>⒠</string>
					<key>f</key>
					<string>⒡</string>
					<key>g</key>
					<string>⒢</string>
					<key>h</key>
					<string>⒣</string>
					<key>i</key>
					<string>⒤</string>
					<key>j</key>
					<string>⒥</string>
					<key>k</key>
					<string>⒦</string>
					<key>l</key>
					<string>⒧</string>
					<key>m</key>
					<string>⒨</string>
					<key>n</key>
					<string>⒩</string>
					<key>o</key>
					<string>⒪</string>
					<key>p</key>
					<string>⒫</string>
					<key>q</key>
					<string>⒬</string>
					<key>r</key>
					<string>⒭</string>
					<key>s</key>
					<string>⒮</string>
					<key>t</key>
					<string>⒯</string>
					<key>u</key>
					<string>⒰</string>
					<key>v</key>
					<string>⒱</string>
					<key>w</key>
					<string>⒲</string>
					<key>x</key>
					<string>⒳</string>
					<key>y</key>
					<string>⒴</string>
					<key>z</key>
					<string>⒵</string>
				</dict>
				<key>FontExample</key>
				<string>⒝⒤⒢ ⒣⒰⒢</string>
				<key>FontName</key>
				<string>big hug</string>
				<key>FontSentence</key>
				<string>⒟⒠⒞⒪⒭⒜⒯⒠ ⒴⒪⒰⒭ ⒲⒪⒭⒟⒮ ⒲⒤⒯⒣ ⒮⒯⒴⒧⒤⒮⒣ ⒡⒪⒩⒯⒮!</string>
			</dict>
			<dict>
				<key>Content</key>
				<dict>
					<key>A</key>
					<string>Ⴉ</string>
					<key>B</key>
					<string>Ⴊ</string>
					<key>C</key>
					<string>ე</string>
					<key>D</key>
					<string>მ</string>
					<key>E</key>
					<string>პ</string>
					<key>F</key>
					<string>f</string>
					<key>G</key>
					<string>Ⴚ</string>
					<key>H</key>
					<string>Ⴌ</string>
					<key>I</key>
					<string>i</string>
					<key>J</key>
					<string>ქ</string>
					<key>K</key>
					<string>k</string>
					<key>L</key>
					<string>l</string>
					<key>M</key>
					<string>ო</string>
					<key>N</key>
					<string>Ⴖ</string>
					<key>O</key>
					<string>ტ</string>
					<key>P</key>
					<string>Ⴒ</string>
					<key>Q</key>
					<string>Ⴍ</string>
					<key>R</key>
					<string>R</string>
					<key>S</key>
					<string>Ⴝ</string>
					<key>T</key>
					<string>Ⴀ</string>
					<key>U</key>
					<string>Ⴎ</string>
					<key>V</key>
					<string>V</string>
					<key>W</key>
					<string>w</string>
					<key>X</key>
					<string>ჯ</string>
					<key>Y</key>
					<string>Ⴤ</string>
					<key>Z</key>
					<string>ჰ</string>
					<key>a</key>
					<string>Ⴉ</string>
					<key>b</key>
					<string>Ⴊ</string>
					<key>c</key>
					<string>ე</string>
					<key>d</key>
					<string>მ</string>
					<key>e</key>
					<string>პ</string>
					<key>f</key>
					<string>f</string>
					<key>g</key>
					<string>Ⴚ</string>
					<key>h</key>
					<string>Ⴌ</string>
					<key>i</key>
					<string>i</string>
					<key>j</key>
					<string>ქ</string>
					<key>k</key>
					<string>k</string>
					<key>l</key>
					<string>l</string>
					<key>m</key>
					<string>ო</string>
					<key>n</key>
					<string>Ⴖ</string>
					<key>o</key>
					<string>ტ</string>
					<key>p</key>
					<string>Ⴒ</string>
					<key>q</key>
					<string>Ⴍ</string>
					<key>r</key>
					<string>R</string>
					<key>s</key>
					<string>Ⴝ</string>
					<key>t</key>
					<string>Ⴀ</string>
					<key>u</key>
					<string>Ⴎ</string>
					<key>v</key>
					<string>V</string>
					<key>w</key>
					<string>w</string>
					<key>x</key>
					<string>ჯ</string>
					<key>y</key>
					<string>Ⴤ</string>
					<key>z</key>
					<string>ჰ</string>
				</dict>
				<key>FontExample</key>
				<string>Ⴝოilპ</string>
				<key>FontName</key>
				<string>smile</string>
				<key>FontSentence</key>
				<string>მპეტRႩႠპ ჄტႮR wტRმႽ wiႠႬ ႽႠჄliႽႬ fტႶႠႽ!</string>
			</dict>
			<dict>
				<key>Content</key>
				<dict>
					<key>A</key>
					<string>Ѧ</string>
					<key>B</key>
					<string>β</string>
					<key>C</key>
					<string>¢</string>
					<key>D</key>
					<string>∂</string>
					<key>E</key>
					<string>℮</string>
					<key>F</key>
					<string>f</string>
					<key>G</key>
					<string>ɠ</string>
					<key>H</key>
					<string>ɧ</string>
					<key>I</key>
					<string>ї</string>
					<key>J</key>
					<string>ʝ</string>
					<key>K</key>
					<string>к</string>
					<key>L</key>
					<string>ℓ</string>
					<key>M</key>
					<string>м</string>
					<key>N</key>
					<string>η</string>
					<key>O</key>
					<string>◎</string>
					<key>P</key>
					<string>℘</string>
					<key>Q</key>
					<string>ⓠ</string>
					<key>R</key>
					<string>ґ</string>
					<key>S</key>
					<string>﹩</string>
					<key>T</key>
					<string>†</string>
					<key>U</key>
					<string>ʊ</string>
					<key>V</key>
					<string>ѵ</string>
					<key>W</key>
					<string>ա</string>
					<key>X</key>
					<string>x</string>
					<key>Y</key>
					<string>¥</string>
					<key>Z</key>
					<string>Հ</string>
					<key>a</key>
					<string>Ѧ</string>
					<key>b</key>
					<string>β</string>
					<key>c</key>
					<string>¢</string>
					<key>d</key>
					<string>∂</string>
					<key>e</key>
					<string>℮</string>
					<key>f</key>
					<string>f</string>
					<key>g</key>
					<string>ɠ</string>
					<key>h</key>
					<string>ɧ</string>
					<key>i</key>
					<string>ї</string>
					<key>j</key>
					<string>ʝ</string>
					<key>k</key>
					<string>к</string>
					<key>l</key>
					<string>ℓ</string>
					<key>m</key>
					<string>м</string>
					<key>n</key>
					<string>η</string>
					<key>o</key>
					<string>◎</string>
					<key>p</key>
					<string>℘</string>
					<key>q</key>
					<string>ⓠ</string>
					<key>r</key>
					<string>ґ</string>
					<key>s</key>
					<string>﹩</string>
					<key>t</key>
					<string>†</string>
					<key>u</key>
					<string>ʊ</string>
					<key>v</key>
					<string>ѵ</string>
					<key>w</key>
					<string>ա</string>
					<key>x</key>
					<string>x</string>
					<key>y</key>
					<string>¥</string>
					<key>z</key>
					<string>Հ</string>
				</dict>
				<key>FontExample</key>
				<string>ℓ◎ṽ℮ℓ¥ βїґ∂</string>
				<key>FontName</key>
				<string>lovely bird</string>
				<key>FontSentence</key>
				<string>∂℮¢◎ґѦ†℮ ¥◎ʊґ ẘ◎ґ∂﹩ ẘʝ†ℌ ﹩†¥ℓʝ﹩ℌ ḟ◎η†﹩!</string>
			</dict>
			<dict>
				<key>Content</key>
				<dict>
					<key>A</key>
					<string>α</string>
					<key>B</key>
					<string>в</string>
					<key>C</key>
					<string>c</string>
					<key>D</key>
					<string>d</string>
					<key>E</key>
					<string>є</string>
					<key>F</key>
					<string>f</string>
					<key>G</key>
					<string>g</string>
					<key>H</key>
					<string>h</string>
					<key>I</key>
					<string>í</string>
					<key>J</key>
					<string>j</string>
					<key>K</key>
					<string>k</string>
					<key>L</key>
					<string>l</string>
					<key>M</key>
					<string>m</string>
					<key>N</key>
					<string>n</string>
					<key>O</key>
					<string>σ</string>
					<key>P</key>
					<string>p</string>
					<key>Q</key>
					<string>q</string>
					<key>R</key>
					<string>r</string>
					<key>S</key>
					<string>ѕ</string>
					<key>T</key>
					<string>t</string>
					<key>U</key>
					<string>u</string>
					<key>V</key>
					<string>v</string>
					<key>W</key>
					<string>w</string>
					<key>X</key>
					<string>х</string>
					<key>Y</key>
					<string>ч</string>
					<key>Z</key>
					<string>z</string>
					<key>a</key>
					<string>α</string>
					<key>b</key>
					<string>в</string>
					<key>c</key>
					<string>c</string>
					<key>d</key>
					<string>d</string>
					<key>e</key>
					<string>є</string>
					<key>f</key>
					<string>f</string>
					<key>g</key>
					<string>g</string>
					<key>h</key>
					<string>h</string>
					<key>i</key>
					<string>í</string>
					<key>j</key>
					<string>j</string>
					<key>k</key>
					<string>k</string>
					<key>l</key>
					<string>l</string>
					<key>m</key>
					<string>m</string>
					<key>n</key>
					<string>n</string>
					<key>o</key>
					<string>σ</string>
					<key>p</key>
					<string>p</string>
					<key>q</key>
					<string>q</string>
					<key>r</key>
					<string>r</string>
					<key>s</key>
					<string>ѕ</string>
					<key>t</key>
					<string>t</string>
					<key>u</key>
					<string>u</string>
					<key>v</key>
					<string>v</string>
					<key>w</key>
					<string>w</string>
					<key>x</key>
					<string>х</string>
					<key>y</key>
					<string>ч</string>
					<key>z</key>
					<string>z</string>
				</dict>
				<key>FontExample</key>
				<string>kєєp cσσl</string>
				<key>FontName</key>
				<string>keep cool</string>
				<key>FontSentence</key>
				<string>dєcσrαtє чσur wσrdѕ wíth ѕtчlíѕh fσntѕ!</string>
			</dict>
			<dict>
				<key>Content</key>
				<dict>
					<key>A</key>
					<string>ａ</string>
					<key>B</key>
					<string>ｂ</string>
					<key>C</key>
					<string>ｃ</string>
					<key>D</key>
					<string>ｄ</string>
					<key>E</key>
					<string>ｅ</string>
					<key>F</key>
					<string>ｆ</string>
					<key>G</key>
					<string>ｇ</string>
					<key>H</key>
					<string>ｈ</string>
					<key>I</key>
					<string>ｉ</string>
					<key>J</key>
					<string>ｊ</string>
					<key>K</key>
					<string>ｋ</string>
					<key>L</key>
					<string>ｌ</string>
					<key>M</key>
					<string>ｍ</string>
					<key>N</key>
					<string>ｎ</string>
					<key>O</key>
					<string>ｏ</string>
					<key>P</key>
					<string>ｐ</string>
					<key>Q</key>
					<string>ｑ</string>
					<key>R</key>
					<string>ｒ</string>
					<key>S</key>
					<string>ｓ</string>
					<key>T</key>
					<string>ｔ</string>
					<key>U</key>
					<string>ｕ</string>
					<key>V</key>
					<string>ｖ</string>
					<key>W</key>
					<string>ｗ</string>
					<key>X</key>
					<string>ｘ</string>
					<key>Y</key>
					<string>ｙ</string>
					<key>Z</key>
					<string>ｚ</string>
					<key>a</key>
					<string>ａ</string>
					<key>b</key>
					<string>ｂ</string>
					<key>c</key>
					<string>ｃ</string>
					<key>d</key>
					<string>ｄ</string>
					<key>e</key>
					<string>ｅ</string>
					<key>f</key>
					<string>ｆ</string>
					<key>g</key>
					<string>ｇ</string>
					<key>h</key>
					<string>ｈ</string>
					<key>i</key>
					<string>ｉ</string>
					<key>j</key>
					<string>ｊ</string>
					<key>k</key>
					<string>ｋ</string>
					<key>l</key>
					<string>ｌ</string>
					<key>m</key>
					<string>ｍ</string>
					<key>n</key>
					<string>ｎ</string>
					<key>o</key>
					<string>ｏ</string>
					<key>p</key>
					<string>ｐ</string>
					<key>q</key>
					<string>ｑ</string>
					<key>r</key>
					<string>ｒ</string>
					<key>s</key>
					<string>ｓ</string>
					<key>t</key>
					<string>ｔ</string>
					<key>u</key>
					<string>ｕ</string>
					<key>v</key>
					<string>ｖ</string>
					<key>w</key>
					<string>ｗ</string>
					<key>x</key>
					<string>ｘ</string>
					<key>y</key>
					<string>ｙ</string>
					<key>z</key>
					<string>ｚ</string>
				</dict>
				<key>FontExample</key>
				<string>ａｉｒ       </string>
				<key>FontName</key>
				<string>air</string>
				<key>FontSentence</key>
				<string>ｄｅｃｏｒａｔｅ ｙｏｕｒ ｗｏｒｄｓ ｗｉｔｈ ｓｔｙｌｉｓｈ ｆｏｎｔｓ！</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
