<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ihs.inputmethod.uimodules">

    <uses-sdk tools:overrideLibrary="com.facebook,com.facebook.shimmer,android.support.customtabs,com.facebook.ads,com.google.android.gms,com.mopub.mobileads.banner,com.mopub.mobileads.base,com.mopub.mobileads.native_static" />

    <!--permission add same with kika.2017.4.26 liuyu-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <!--新增权限-->

    <application>
        <activity
            android:name=".ui.theme.ui.ThemeHomeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.theme.ui.ThemeDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <receiver android:name=".widgets.HSAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_provider" />
        </receiver>

        <activity
            android:name=".ui.theme.ui.customtheme.CustomThemeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />\
        <activity
            android:name="com.ihs.inputmethod.uimodules.ui.theme.ui.customtheme.CustomThemeBackgroundCropperActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".ui.theme.ui.PurchaseSlotsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/PurchaseDialogActivityStyle"
            android:windowSoftInputMode="stateUnchanged|adjustNothing" />



        <!-- showQuietly Config Start-->
        <!-- AppLovin全屏 -->
        <activity android:name="com.applovin.adview.AppLovinInterstitialActivity"
            android:noHistory="true"
            android:taskAffinity=".acb_interstitial_quiet" />
        <activity android:name="com.applovin.adview.AppLovinConfirmationActivity"
            android:noHistory="true"
            android:taskAffinity=".acb_interstitial_quiet" />
        <activity android:name="com.acb.adadapter.ApplovinInterstitialAdapter.AcbAppLovinInterstitialActivity"
            android:noHistory="true"
            android:taskAffinity=".acb_interstitial_quiet" />

        <!-- Avocarrot全屏 -->
        <activity android:name="com.avocarrot.androidsdk.VideoActivity"
            android:noHistory="true"
            android:taskAffinity=".acb_interstitial_quiet" />
        <activity android:name="com.avocarrot.androidsdk.RedirectActivity"
            android:noHistory="true"
            android:taskAffinity=".acb_interstitial_quiet" />

        <!-- Facebook全屏 -->
        <activity android:name="com.facebook.CustomTabMainActivity"
            android:noHistory="true"
            android:taskAffinity=".acb_interstitial_quiet" />
        <activity android:name="com.facebook.ads.AudienceNetworkActivity"
            android:noHistory="true"
            android:taskAffinity=".acb_interstitial_quiet" />

        <!-- AdMob全屏和Adx全屏 -->
        <activity android:name="com.google.android.gms.ads.purchase.InAppPurchaseActivity"
            android:noHistory="true"
            android:taskAffinity=".acb_interstitial_quiet" />
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:noHistory="true"
            android:taskAffinity=".acb_interstitial_quiet" />

        <!-- showQuietly Config End-->

        <!-- 给applovin配置sdk key，注意，master keyboard需要另外的key-->
        <meta-data
            android:name="applovin.sdk.key"
            android:value="@string/applovin_sdk_key" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:noHistory="true"
            android:taskAffinity=".acb_interstitial_quiet"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />

        <receiver android:name="com.ihs.inputmethod.api.NotificationBroadcastReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="com.ihs.intent.notification" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:exported="true"
            android:name="com.ihs.inputmethod.feature.lucky.LuckyActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:taskAffinity=".keyboard.lucky"
            android:theme="@style/BaseWallpaperTheme" />

        <service android:name="com.ihs.inputmethod.api.WakeKeyboardService"/>
    </application>

</manifest>