<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ihs.inputmethod.uimodules">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-sdk tools:overrideLibrary="com.facebook,com.facebook.shimmer,android.support.customtabs,com.facebook.ads,com.google.android.gms,com.mopub.mobileads.banner,com.mopub.mobileads.base,com.mopub.mobileads.native_static,com.millennialmedia,jp.co.cyberagent.android.gpuimage" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <!-- permission add same with kika.2017.4.26 liuyu -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <!-- permission add for calling feature.2017.6.21 by yulu -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 新增权限 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <application>
        <activity
            android:name=".ui.theme.ui.ThemeHomeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.customize.WallpaperPreviewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".ui.theme.ui.ThemeDownloadActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.theme.ui.ThemeDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.theme.ui.customtheme.CustomThemeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.theme.ui.customtheme.CustomThemeBackgroundCropperActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="com.keyboard.setkeyboardbg" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.customize.InCallThemePreviewActivity"
            android:theme="@style/CPSettingsActivityTheme" />


        <!-- 给applovin配置sdk key，注意，master keyboard需要另外的key -->
        <meta-data
            android:name="applovin.sdk.key"
            android:value="@string/applovin_sdk_key" />

        <receiver
            android:name="com.ihs.inputmethod.api.NotificationBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.ihs.intent.notification" />
            </intent-filter>
        </receiver>

        <service android:name="com.ihs.inputmethod.api.WakeKeyboardService" />
        <service
            android:name=".ui.customize.service.CustomizeService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name="com.ihs.devicemonitor.accessibility.HSAccessibilityService"
            android:label="@string/english_service_label"
            tools:remove="process"
            tools:replace="android:label"></service>

        <activity
            android:name="com.ihs.inputmethod.accessbility.KeyboardActivationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NoPreviewTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.ihs.inputmethod.accessbility.KeyboardWakeUpActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/NoPreviewTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.keyboard.common.MainActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarFullScreen"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="${applicationId}.keyboard.main" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.keyboard.common.LockerEnableActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="com.keyboard.common.LockerEnableActivity"
            android:theme="@style/LockerEnableTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="locker"
                    android:scheme="${APPLY_SCHEME}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.settings.activities.SettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/SettingActivityStyle">
            <intent-filter>
                <action android:name="${applicationId}.LAUNCH_SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".softgame.GameActivity"
            android:label="@string/title_activity_game"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- ShowQuietly Config End -->
        <!-- AppLovin全屏 -->
        <activity
            android:name="com.applovin.adview.AppLovinInterstitialActivity"
            android:noHistory="true"
            android:taskAffinity=".acb_interstitial_quiet" />
        <activity
            android:name="com.applovin.adview.AppLovinConfirmationActivity"
            android:noHistory="true"
            android:taskAffinity=".acb_interstitial_quiet" />
        <activity
            android:name="net.appcloudbox.ads.base.ApplovinInterstitialAdapter.AcbAppLovinInterstitialActivity"
            android:noHistory="true"
            android:taskAffinity=".acb_interstitial_quiet" />

        <!-- Avocarrot全屏 -->
        <activity
            android:name="com.avocarrot.androidsdk.VideoActivity"
            android:noHistory="true"
            android:taskAffinity=".acb_interstitial_quiet" />
        <activity
            android:name="com.avocarrot.androidsdk.RedirectActivity"
            android:noHistory="true"
            android:taskAffinity=".acb_interstitial_quiet" />

        <!-- Facebook全屏 -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:noHistory="true"
            android:taskAffinity=".acb_interstitial_quiet" />
        <activity
            android:name="com.facebook.CustomTabMainActivity"
            android:noHistory="true"
            android:taskAffinity=".acb_interstitial_quiet" />
        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:noHistory="true"
            android:taskAffinity=".acb_interstitial_quiet" />

        <!-- AdMob全屏和Adx全屏 -->
        <activity
            android:name="com.google.android.gms.ads.purchase.InAppPurchaseActivity"
            android:noHistory="true"
            android:taskAffinity=".acb_interstitial_quiet" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:noHistory="true"
            android:taskAffinity=".acb_interstitial_quiet" />

        <!-- ShowQuietly Config End -->


        <activity android:name="com.keyboard.common.DebugActivity"></activity>

        <activity
            android:name="com.keyboard.common.KeyboardActivationGuideActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <activity
            android:name=".softgame.SoftGameDisplayActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Design.Light" />
    </application>

</manifest>